//==============================================================================
//  Variables
//==============================================================================

// Base Colors
$key-gold:      #b0af96;
$key-gray:      #a7a7a7;
$key-black:     #272727;

// SNS Brand Colors
$key-color-1: $key-gray;
$key-color-2: $key-black;

$key-color-2-l:    #676767;
$key-color-2-ll:   #a7a7a7;
$key-color-2-lll:  #e7e7e7;
$key-color-2-llll: #f7f7f7;

// Content Base Setting
// $base-font: Alegreya, "YuMincho", serif;
$base-font: Alegreya, "游明朝体", "Yu Mincho", YuMincho, serif;
$code-font: "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, monospace;
$logo-font: Alegreya, serif;

$base-background:         white;
$base-color:              $key-color-2;
$base-link-color:         $key-color-2-l;
$base-link-color-visited: $key-color-2-l;

$content-width:      990px;
$content-width-main: 640px;
$content-width-sub:  300px;

$background:   $key-color-2-llll;
$border:       $key-color-2-lll;
$break-large:  990px;
$break-medium: 700px;
$break-small:  480px;

// Other
$mlv1: 5rem;
$mlv2: 4rem;
$mlv3: 3rem;
$mlv4: 2rem;
$mlv5: 1rem;
