//==============================================================================
//  Module: Article list
//==============================================================================

.articleList {
  @include display-flex;
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include align-items(flex-start);
  @include justify-content(space-between);

  padding: 0;
  margin: 0;
  list-style: none;
}

.articleList__item {
  width: 32.5%;
  padding-bottom: 2rem;

  @include respondTo(medium) {
    width: 49%;
  }
  @include respondTo(small) {
    width: 100%;
  }
}
