//==============================================================================
//  Module: Header
//==============================================================================

.header {
  @include wrapper;

  position: relative;
  padding-top: $mlv1;
  padding-bottom: $mlv1;
}

.header__id {
  @include linkColor($key-color-2, $key-color-2, "none", "none", $key-color-2-l, true);
  // @include fontSize(28);
  // font-family: $logo-font;
  // font-weight: 400;
  // font-style: italic;

  margin: 0 0 0 -2px;

  @include respondTo(medium) {
    margin: 0 0 0 -1px;
  }

  a {
    @include background-size(contain);

    display: block;
    width: 270px;
    text-indent: -7777px;
    background-image: inline-image("svg/logo.svg");
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.header__description {
  @include fontSize(11);

  margin: 0;
  letter-spacing: .1em;
  color: $key-color-2-ll;

  &::before {
    content: " -> ";
  }
}

.header__navigation {
  @include fontSize(13);

  position: absolute;
  top: 30px;
  right: 30px;
  margin: 0;
  letter-spacing: .1em;
  text-transform: uppercase;

  @include respondTo(medium) {
    position: inherit;
    top: inherit;
    right: inherit;
  }

  ul {
    @extend %resetlist;
  }

  li {
    display: inline-block;
    margin: 0 1em;

    @include respondTo(small) {
      margin-right: 1em;
      margin-left: 0;
    }
  }
}
