//==============================================================================
//  Module: Main
//==============================================================================

.main {
  @extend %clearfix;

  width: $content-width;
  padding: 50px 0 0;

  @include respondTo(large) {
    width: 100%;
  }
}

.main__title {
  @extend %title;

  margin: 0 0 50px;
}

.main__pagination {
  @include linkColor(white, white, "none", "none", $key-color-1);

  height: 3rem;
  margin: 0 auto;

  ul {
    @extend %resetlist;

    position: relative;
  }

  li {
    position: absolute;
    top: 0;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    &.prev {
      left: 0;
      a::before {
        content: "\f053";
      }
    }
    &.next {
      right: 0;
      a::before {
        content: "\f054";
      }
    }
  }
  
  a {
    @include border-radius(1.5rem);

    display: block;
    width: 3rem;
    height: 3rem;
    overflow: hidden;
    line-height: 3rem;
    background: $key-color-1;
    &:hover {
      @include transition-property(color, background-color);
      @include transition-duration(.3s);

      background: white;
    }
    &::before {
      @extend %icon;

      display: block;
      margin: 0 auto;
      font-size: 1.3rem;
    }
  }
}
